.CountriesTable {
	font-size: var(--font-small);
}

.CountriesTable .center{
    justify-content: space-evenly;
}

table td, table th {
    border: 1px solid var(--secondary-color);
    padding: 8px;
}

table th{
    text-align: left;
    background-color: var(--secondary-color);
    color: var(--background-color);
}