.App{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.App>.Header {
  grid-column: 12 span;
  grid-row: 1 span;
}
.App>.Menu {
  grid-column: 2 span;
  grid-row: 11 span;
}
.App>.Main {
  grid-column: 10 span;
  grid-row: 11 span;
}
  